################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/src/miNationalrot/obj
/_ReSharper.Caches/ReSharperPlatformVs16191_558be0ee.00
/src/miNationalrot/bin/Debug/netstandard2.0
/.vs
/_ReSharper.Caches/ReSharperPlatformVs16191_558be0ee.miNationalrot.00
