<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Mi Nationalrot</a>
    <button class="navbar-toggler" @onclick="@ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="@ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Dehäi
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-thumb-up" aria-hidden="true"></span> Mitbestimme
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="themes">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Themä
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Suggestions">
                <span class="oi oi-signpost" aria-hidden="true"></span> Mini Vorschläg
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Settings">
                <span class="oi oi-cog" aria-hidden="true"></span> Istellige
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="About">
                <span class="oi oi-info" aria-hidden="true"></span> Wer simer?
            </NavLink>
        </li>
    </ul>
</div>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
