@page "/about"
@using System.IO
@using System.Runtime.CompilerServices

<h1>Wer simer</h1>

Welcome to your new app.


<p>Applikations-Version: @version</p>
<p>Applikations-Datei: @found</p>
<p>Applikations-Datum: @stamp</p>



@code {

    string version = typeof(Program).Assembly.FullName;
    bool found = new FileInfo(typeof(Program).Assembly.Location).Exists;
    DateTime stamp = new FileInfo(typeof(Program).Assembly.Location).LastAccessTime;
}